
@tailwind base;
@tailwind utilities; 
@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');


html {
  scroll-behavior: smooth;
  font-family: 'proxima-nova';
  font-style: normal;
}